*{
	font-family: Arial;
}

html, body{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

.Menu{
	font-family: Verdana;
	margin-top: 1rem;
	margin-left: 1rem;
	padding: 0.5rem;
	border: 1px solid black;
	width: 25rem;
	height: 15rem;
}

.bt{
	width: 6.5rem;
	background-color: white;
	border: 1px solid black;
}

.Player{
	position: relative;
	height: 10rem; 
	width: 10rem;
	bottom: -16.5rem;

	transition: bottom 1s;
	animation-name: Walk;
	animation-duration: 10s;
	animation-iteration-count: infinite; 
	animation-direction: alternate;
	animation-timing-function: ease-in-out;
}

.Player.Jum:hover{
	bottom: -15rem;
}

.Dice{
	width: 6rem;
	height: 6rem;
	margin-top: 3rem;
	margin-left: 55rem;  
	transition: width 1s, height 1s;
}

.Dice.Hi:hover{
	width: 8rem;
	height: 8rem;
}

/* left + 8.8, bottom + 4.7 */
@keyframes Walk{
	0%{
		left: 0rem;
		bottom: -16.5rem;
	}
	14%{
		left: 16rem;
		bottom: -9.7rem;
	}
	28%{
		left: 24.8rem;
		bottom: -5rem;
	}
	42%{
		left: 33.6rem;
		bottom: 0.3rem;
	}
	56%{
		left: 42.4rem;
		bottom: 5rem;
	}
	70%{
		left: 50rem;
		bottom: 9.4rem;
	}
	84%{
		left: 59rem;
		bottom: 15rem;
	}
	100%{
		left: 67rem;
		bottom: 20rem;
	}
}
